<footer class="white-footer">
  <div class="container">

    <div class="row about-me">
      <div class="col-sm-4 about-me-header" >
        About Robert Henderson
      </div>
      <div class="col-sm-8">
        Robert Henderson is a user experience designer, author and speaker. He helps not-for-profits such as the European Commission, UCAS and Doctors Without Borders adapt to the digital world. He also works with many sizeable commercial clients. He refocuses them on user experience and engaging with a new digitally savvy audience. All the while pursuing his not-so-hidden agenda.
      </div>
    </div>
     <div class="row about-me">
      <div class="col-sm-4 about-me-header" >
        Specializations
      </div>
      <div class="col-sm-8">
        Robert Henderson is a user experience designer, author and speaker. He helps not-for-profits such as the European Commission, UCAS and Doctors Without Borders adapt to the digital world. He also works with many sizeable commercial clients. He refocuses them on user experience and engaging with a new digitally savvy audience. All the while pursuing his not-so-hidden agenda.
      </div>
    </div>
    <div class="row about-me">
      <div class="col-sm-4 about-me-header" >
      Specializations
      </div>
      <div class="col-sm-8">
      Robert Henderson is a user experience designer, author and speaker. He helps not-for-profits such as the European Commission, UCAS and Doctors Without Borders adapt to the digital world. He also works with many sizeable commercial clients. He refocuses them on user experience and engaging with a new digitally savvy audience. All the while pursuing his not-so-hidden agenda.
      </div>
    </div>
  </div>
</footer>

<footer class="footer"> 
  <div class="container ">
    <p>&copy; 2017 Henderson Designs</p>

  </div>
</footer>
